.dashboard-card11 {
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Adjust height as needed */
    width: 100%;    /* Adjust width or use a fixed width if required */
    /* margin: 0.5rem;  */
  }

  .card-header {
    /* text-align: center; */
    /* margin-bottom: 1rem; */
    padding: 2px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .wave-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensures the SVG doesn't interfere with clicks */
    z-index: 1;
  }
  
  .wave-bg svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .card-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #333;
  }
  
  .card-content h1 {
    font-size: 2rem; /* Adjust to match design */
    margin: 0;
  }
  
  .card-content p {
    margin: 0;
    font-size: 1rem; /* Adjust as needed */
    color: #666;
  }
  