body {
  background-image: url('/src/assets/backgroundImage.jpeg');
  background-size: 100% 100vh;; /* Show the full image without zooming */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}

.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  margin-left: 13rem; /* Adjust based on Sidebar width */
  padding-top: 60px; /* To prevent Navbar from overlapping */
}